<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
  </head><body>
    <% include('./partials/navbar') %>
    <% if (locals.user) { %>
    <div class="container mt-3">
      <h1>Edit Blog</h1>
      <form action="/blog/edit/<%= blog._id %>" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title">Title:</label><br />
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="<%= blog.title %>"
          /><br />
        </div>
        <div class="mb-3">
          <label for="body">Body:</label><br />
          <textarea id="body" class="form-control" name="body" rows="5"><%= blog.body %></textarea><br />
        </div>
        <div class="mb-3">
          <label for="blogCoverImage">Cover Image</label>
          <input type="file" class="form-control" id="blogCoverImage" name="blogCoverImage">
        </div>  
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="privatePost"
            name="privatePost"
            <% if (blog.isPrivate) { %>
            checked
            <% } %>
          />
          <label class="form-check-label" for="privatePost">Want to make it Private Post</label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Update Blog</button>
        </div>
      </form>
    </div>
  
    <% } else { %>
    <script>
      window.location.href = "/users/signin";
    </script>
    <% } %>
    <% include('./partials/script') %>
  </body>
  
</html>
